<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">
      <a class="navbar-brand" href="/profile">
        <img th:src="@{/image/logo.png}" width="30" alt="logo" />
      </a>
      <!-- Collapse -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
              aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- Links -->
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <!-- Left -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/planrecipe" >Plan Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/search">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/viewrecipe">View Recipe</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/createrecipe">Create Recipe</a>
          </li>
        </ul>
        <!-- Right -->
        <ul class="navbar-nav nav-flex-icons">
          <li class="nav-item" style="margin-top: 5px; margin-right:  75px;">
            <a class="nav-link" th:href="@{/view_cart}" >
              <i class="fas fa-shopping-cart fa-lg text-danger me-3">
                <span class="badge badge-danger" th:text="${session.cart} "></span>
              </i>
            </a>
          </li>
          <li class="nav-item" style="align-content: center; font-size: x-large">
            <a class="nav-link" href="#" th:text=" |Hello, ${session.username} !| ">Hello </a>
          </li>
          <li class="nav-item" >
            <form method="post" th:action="@{/logout}"  sec:authorize = "isAuthenticated()">
              <input  class="btn btn-outline-white" type="submit" value="Log Out">
            </form>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Navbar -->
</div>
