<!DOCTYPE html>
<html lang="en"
      xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head >
    <div th:replace="fragments/head :: head"></div>
    <title>Search</title>
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>
<div th:replace="fragments/SlideBar :: slidebar"></div>
<!--Main layout-->
<main>
<div class="container">
    <br>
    <form class="d-flex input-group w-auto" action = "/search">
        <input
                type="search"
                class="form-control rounded"
                placeholder="Search Recipe Title"
                aria-label="Search"
                aria-describedby="search-addon"
                name="title"
        />
        <span class="input-group-text border-0" id="search-addon">
       <button> <i class="fas fa-search"></i></button>
      </span>
    </form>
</div>
    <div class="container">
        <div th:each="recipe:${recipes}">
            <!--Section: Main info-->
            <section class="mt-5 wow fadeIn">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <img class="img-fluid z-depth-1-half" th:src="@{${'image/' + recipe.image }}" th:alt= "*{recipe.image}"  />
                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-6 mb-4">
                        <!-- Main heading -->
                        <h1 class="h3 mb-3" th:text="${recipe.title}"></h1>
                        <!-- Main heading -->
                        <hr>
                        <p>
                        <h3  th:text="'Creater: ' + ${recipe.creater}"></h3 >
                        </p>
                        <p>
                            <h3  th:text="'Description: ' + ${recipe.description}"></h3 >
                        </p>
                        <hr>
                        <strong th:text="'Date created: ' + ${recipe.date}"></strong>
                        <!-- CTA -->
                        <div th:if="${recipe.getFavorite_like != '1'  && recipe.getFavorite_like != '2'}">
                            <form action="/viewrecipe" method="post">
                                <input type="hidden" th:name="id" th:value="${recipe.id}">
                                <button class="btn btn-outline-danger"  > <i class="fas fa-heart fa-lg "> </i> </button>
                            </form>
                        </div>
                        <div th:if="${recipe.getFavorite_like == '1'}">
                            <form action="/deleteRecipe" method="post">
                                <input type="hidden" th:name="id" th:value="${recipe.id}">
                                <button class="btn btn-outline-danger" > <i class="fas fa-trash fa-lg "> </i> </button>
                            </form>
                        </div>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!--SectionMain info-->
        </div>
        <hr class="my-5">

    </div>
</main>
<!--Main layout-->
<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
